@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-heading: var(--font-sans);
    --font-sans: 'Inter Variable', sans-serif;
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);


    --color-cool-brand-50:  var(--cool-brand-50);
    --color-cool-brand-100: var(--cool-brand-100);
    --color-cool-brand-200: var(--cool-brand-200);
    --color-cool-brand-300: var(--cool-brand-300);
    --color-cool-brand-400: var(--cool-brand-400);
    --color-cool-brand-500: var(--cool-brand-500);
    --color-cool-brand-600: var(--cool-brand-600);
    --color-cool-brand-700: var(--cool-brand-700);
    --color-cool-brand-800: var(--cool-brand-800);
    --color-cool-brand-900: var(--cool-brand-900);
    --color-cool-brand-950: var(--cool-brand-950);






  /* Custom Text Display*/
  --text-display-2xl: 4.5rem;
  --text-display-xl: 3.75rem;
  --text-display-lg: 3rem;
  --text-display-md: 2.25rem;
  --text-display-sm: 1.875rem;
  --text-display-xs: 1.5rem;
  --text-xl: 1.25rem;
  --text-lg: 1.125rem;
  --text-md: 1rem;
  --text-sm: 0.875rem;
  --text-xs: 0.75rem;

  /* My Ccolors Display*/
  --color-dark-hover: var(--dark-hover);

  }

:root {
--background: oklch(0.9700346731479628 0.00838925803625134 168.75516223431006);
--foreground: oklch(0.35712502439458393 0.03840100819983442 250.36075790997927);
    --card: oklch(1 0 0);
    --card-glass: oklch(100% 0.00011 271.152 / 0.55);
--card-foreground: oklch(0.35712502439458393 0.03840100819983442 250.36075790997927);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
--primary: oklch(0.600990805983312 0.079271188828751 170.87533234794313); /*edited*/
--primary-foreground: oklch(0.9700346731479628 0.00838925803625134 168.75516223431006); /*edited*/
--secondary: oklch(0.35712502439458393 0.03840100819983442 250.36075790997927);/*edited*/
--secondary-foreground:  oklch(0.9700346731479628 0.00838925803625134 168.75516223431006); /*edited*/
--my-muted: oklch(0.5499154363575358 0.04438103530369831 162.80821579108317);
--dark-hover: oklch(98.511% 0.00011 271.152 / 0.123);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);

    --cool-brand-50:  oklch(0.975 0.0526 170.9);
    --cool-brand-100: oklch(0.945 0.0547 170.9);
    --cool-brand-200: oklch(0.885 0.0590 170.9);
    --cool-brand-300: oklch(0.805 0.0647 170.9);
    --cool-brand-400: oklch(0.705 0.0719 170.9);
    --cool-brand-500: oklch(0.601 0.0793 170.9);
    --cool-brand-600: oklch(0.500 0.0721 170.9);
    --cool-brand-700: oklch(0.415 0.0660 170.9);
    --cool-brand-800: oklch(0.335 0.0603 170.9);
    --cool-brand-900: oklch(0.265 0.0553 170.9);
    --cool-brand-950: oklch(0.185 0.0496 170.9);


}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.6904243728524041 0.09217208538867398 168.4404760063432); /* edited*/
    --primary-foreground: oklch(0.21913582194086056 0.023930487021199317 166.94768221279048); /* edited*/
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);


}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
  html {
    @apply font-sans;
    }
}